body{
    background-color: #eeeeee;
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-size: 55px;
    padding-bottom: 20px;
    color: rgb(45, 45, 45);
    font-weight: 800;
}
h2{
    font-size: 30px;
    line-height: 40px;
    color: rgb(45, 45, 45);
    font-weight: 700;
}

.navbar{
    padding: 15px 0;
}
nav .nav-link{
    color: #4B4B4B !important;
    text-decoration: none;
    font-size: 20px;
    width: 250px;
    text-transform: uppercase;
    text-align: center;
}
.nav-link:hover{
    color: #4B4B4B;
    text-decoration: none;
    font-size: 20px;
    width: 250px;
    text-transform: uppercase;
    text-align: center;
}
.navbar-toggler-icon{
    border: 1px solid #797676;
    padding: 7px;
    width: 45px;
    height: 37px;
    border-radius: 3px;
}
nav .active{
    font-weight: bold;
    text-decoration: underline;
    text-underline-position: under;
}

.btn{
    background-color: black;
    color: white;
    border-radius: 0px;
}
.form-control{
    background-color: #eeeeee;
    border-radius: 0px;
    border-bottom: 1px solid
 
}



